<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714196063023-pma052o4siu0k7denam71f2frtd40l82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714196063023-pma052o4siu0k7denam71f2frtd40l82</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>714196063023-fhl7v121a1l2c8un8lpokhgodblkd7dp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHrbBYzZ_n8uAczrslbZss74USleQZJdY</string>
	<key>GCM_SENDER_ID</key>
	<string>714196063023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.platzitripsavanzado.platzitripsavanzado</string>
	<key>PROJECT_ID</key>
	<string>platzitripsflutter-14a86</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitripsflutter-14a86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714196063023:ios:28ed22a8fecf63fcea07da</string>
</dict>
</plist>